@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-border: oklch(0.922 0.004 286.32);
  --color-input: oklch(0.922 0.004 286.32);
  --color-ring: oklch(0.871 0.006 286.29);
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.141 0.005 285.82);
  --color-primary: oklch(0.21 0.006 285.88);
  --color-primary-foreground: oklch(0.985 0 0);
  --color-secondary: oklch(0.967 0.001 286.38);
  --color-secondary-foreground: oklch(0.21 0.006 285.88);
  --color-muted: oklch(0.967 0.001 286.38);
  --color-muted-foreground: oklch(0.552 0.016 285.94);
  --color-accent: oklch(0.967 0.001 286.38);
  --color-accent-foreground: oklch(0.21 0.006 285.88);
  --color-destructive: oklch(0.577 0.245 27.33);
  --color-destructive-foreground: oklch(0.577 0.245 27.33);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.141 0.005 285.82);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.141 0.005 285.82);
  --color-sidebar-background: oklch(0.985 0 0);
  --color-sidebar-foreground: oklch(0.552 0.016 285.94);
  --color-sidebar-primary: oklch(0.21 0.006 285.88);
  --color-sidebar-primary-foreground: oklch(0.985 0 0);
  --color-sidebar-accent: oklch(0.967 0.001 286.38);
  --color-sidebar-accent-foreground: oklch(0.21 0.006 285.88);
  --color-sidebar-border: oklch(0.922 0.004 286.32);
  --color-sidebar-ring: oklch(0.871 0.006 286.29);
  --radius-lg: 0.625rem;
  --radius-md: calc(var(--radius-lg) - 2px);
  --radius-sm: calc(var(--radius-md) - 2px);
}

.dark {
  --color-border: oklch(0.35 0.006 286.03);
  --color-input: oklch(0.35 0.006 286.03);
  --color-ring: oklch(0.50 0.017 285.79);
  --color-background: oklch(0.21 0.006 285.82);
  --color-foreground: oklch(0.93 0 0);
  --color-primary: oklch(0.93 0 0);
  --color-primary-foreground: oklch(0.21 0.006 285.88);
  --color-secondary: oklch(0.32 0.006 286.03);
  --color-secondary-foreground: oklch(0.93 0 0);
  --color-muted: oklch(0.32 0.006 286.03);
  --color-muted-foreground: oklch(0.65 0.015 286.07);
  --color-accent: oklch(0.32 0.006 286.03);
  --color-accent-foreground: oklch(0.93 0 0);
  --color-destructive: oklch(0.45 0.141 25.72);
  --color-destructive-foreground: oklch(0.637 0.237 25.33);
  --color-card: oklch(0.21 0.006 285.82);
  --color-card-foreground: oklch(0.93 0 0);
  --color-popover: oklch(0.21 0.006 285.82);
  --color-popover-foreground: oklch(0.93 0 0);
  --color-sidebar-background: oklch(0.24 0.006 285.89);
  --color-sidebar-foreground: oklch(0.65 0.015 286.07);
  --color-sidebar-primary: oklch(0.488 0.243 264.38);
  --color-sidebar-primary-foreground: oklch(0.93 0 0);
  --color-sidebar-accent: oklch(0.32 0.006 286.03);
  --color-sidebar-accent-foreground: oklch(0.65 0.015 286.07);
  --color-sidebar-border: oklch(0.35 0.006 286.03);
  --color-sidebar-ring: oklch(0.50 0.017 285.79);
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    font-size: 18px;
  }
  body {
    @apply bg-background text-foreground;
  }
}
